# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

obj/
bin/
*.user
js/dist/
css/*
!css/Web.config
lib/*
fonts/*
!fonts/Web.config
!fonts/opensans.js
node_modules/
package-lock.json