// Reusable mixins

@mixin font-style($size, $color, $weight: 400, $style: normal, $align: left) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
    font-style: $style;
    text-align: $align;
}