body, html {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    -ms-overflow-style: scrollbar;
}

// Message appears as a Toastr notification
.zone-messages .message {
    display: none;
}

// Content Item title
.content-item{
    h1{
        @extend .main-title;
    }
}
.page-title {
    @extend .main-title;
}