@*
    @Model.RequestedUrl
    @Model.ReferrerUrl
*@
<h1 class="main-title">@Html.TitleForPage(T("Not found").ToString())</h1>
<div class="alert alert-info">@T("The page you are looking for does not exist.")</div>